[Desktop Entry]
Type=Application
Name=Emendo
Comment=Text editor with syntax highlighting
Exec=emendo %F
Icon=accessories-text-editor
Terminal=false
Categories=GTK;Development;
MimeType=text/plain;application/x-desktop;application/xml;application/x-shellscript;
StartupNotify=true
